.newTask{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 2% 40% auto 40%;
    border: solid 2px black;
    width: 20%;
}
.deleteButton{
    margin-left: 60%;
    background-color: red;
    border-radius: 15%;
    color: white;
}
.headline{
    text-align: center;
}
#inputTaskName{
    margin: auto 40% auto 40% ;
    width: 20%;   
    height: 20%;
}
#addButton{
    width: 10%;
    margin: auto 45% auto 45%;
}
